<template name="job">
  <tr>
    <td>timestamp </td>
    <a href="{{pathFor route='job.show' }}">{{title}} or (no title)</a>
    <td><span class="label label-warning">Pending</span></td>
    <td>
      <button class='deleteJob' value='{{id}}'>Delete Job (style this properly)</button>
    </td>
  </tr>
</template>

<template name="newjob">
  <p> New Job prompt goes here</p>
  <p>how does this UI look?</p>
  <form class="newjob">
    <p>Title: <input type="title" name="title"></p>
    <p>Salary: <input type="salary" name="salary"></p>
    <p>Location: <input type="location" name="location"></p>
    <p>Description: <input type="description" name="description"></p>
    <p><input type="submit" value="Create Job (flash and redirect to the job page"></p>
  </form>
</template>

<template name='jobs'>
  <section class="content-header">
    <h1> Jobs </h1>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-body">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">My Jobs</a></li>
                  <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">New Job</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_1">
                    <div class="table-responsive">
                      <table class="table no-margin">
                        <thead>
                          <tr>
                            <th>Date Created</th>
                            <th>Title</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#each jobs}}
                          {{> job }}
                          {{/each}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab_2">
                    {{> newjob }}
                  </div>
                </div>
              </div>
              <canvas id="" style="height: 217px; width: 434px;" width="868" height="434"></canvas>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<template name='jobShow'>
  <section class="content-header">
    <h1> Jobs </h1>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <p> Put a stylish back button on this page </p>
            {{_id}}
            {{title}}
            <canvas id="" style="height: 217px; width: 434px;" width="868" height="434"></canvas>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>






