<template name="jobs">
  <section class="content-header">
    <h1> Jobs </h1>
    {{> newjob }}

    {{#each jobs}}
      {{> job }}
    {{/each}}

  </section>
</template>

<template name="job">
  <p> Add add confirmation to delete button</p>
  <p> {{ title }} </p>
  <p> {{ salary }} </p>
  <p> {{ location }} </p>
  <p> {{ description }} </p>
  <button class='deleteJob' value='{{id}}'>Delete Job</button>
</template>

<template name="newjob">
  <p> New Job prompt goes here</p>
  <p>how does this UI look?</p>
  <form class="newjob">
    <p>Title: <input type="title" name="title"></p>
    <p>Salary: <input type="salary" name="salary"></p>
    <p>Location: <input type="location" name="location"></p>
    <p>Description: <input type="description" name="description"></p>
    <p><input type="submit" value="Create Job"></p>
  </form>
</template>

